<nz-table
  #nzTable
  nzShowPagination
  nzShowSizeChanger
  nzSize="small"
  [nzData]="invitations.results"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Date</th>
      <th *ngIf="editable"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>
        <auth-avatar [username]="data.invitee"></auth-avatar>
      </td>
      <td>{{data.date|date}}</td>
      <td *ngIf="editable">
        <button
          nz-button
          nzDanger
          nzType="primary"
          nzShape="circle"
          nz-popconfirm
          nzOkText="Retirer"
          nzOkType="danger"
          [nzPopconfirmTitle]="'Voulez-vous vraiment retirer l\'invitation envoyée à “'+ data.invitee +'”?'"
          (nzOnConfirm)="didDelete.emit(data)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
