<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form
    [form]="form"
    [fields]="fields"
    [options]="options"
    [model]="this.model"
  ></formly-form>
</form>
Affichage JSON:
<nz-switch
  [(ngModel)]="this.showJson"
  [nzCheckedChildren]="checkedTemplate"
  [nzUnCheckedChildren]="unCheckedTemplate"
>
</nz-switch>
<ng-template #checkedTemplate>
  <span nz-icon nzType="check"></span
></ng-template>
<ng-template #unCheckedTemplate
  ><span nz-icon nzType="close"></span
></ng-template>

<span *ngIf="this.showJson" nz-typography>
  <pre><code>{{ this.model | json }}</code></pre>
</span>
