<div class="Exercice-Header">
  <div class="top">
    <div class="author">
      <i nz-icon nzType="solution" nzTheme="outline"></i>
      <span nz-typography nzType="secondary">Author: {{ this.author }}</span>
    </div>
    <div class="version">
      <i nz-icon [nzType]="'number'" [style]="{ opacity: 0.5 }"></i>
      <span nz-typography nzType="secondary">v.{{ this.version }}</span>
    </div>
  </div>
  <div class="title">
    <h1 nz-typography>
      <strong>{{ this.title }}</strong>
    </h1>
  </div>
</div>

<button (click)="log()"></button>
