<form [formGroup]="form">
  <!-- VISIBILITY -->
  <section>
    <mat-label id="visibility-label">Quels cercles voulez-vous afficher?</mat-label>
    <mat-radio-group formControlName="visibility" class="radio-group" aria-labelledby="visibility-label">
      <mat-radio-button value="all">Tout</mat-radio-button>
      <mat-radio-button value="opened">Les cercles ouverts</mat-radio-button>
      <mat-radio-button value="watching">Les cercles que vous suivez</mat-radio-button>
      <mat-radio-button value="belonging">Les cercles où vous êtes membre</mat-radio-button>
    </mat-radio-group>
  </section>

  <!-- ORDER -->
  <section>
    <mat-label id="order-label">Comment voulez-vous trier les résultats ?</mat-label>
    <mat-radio-group formControlName="order" class="radio-group" aria-labelledby="order-label">
      <mat-radio-button value="name">Nom</mat-radio-button>
      <mat-radio-button value="date">Date de mise à jour</mat-radio-button>
      <mat-radio-button value="members">Nombre de membres</mat-radio-button>
      <mat-radio-button value="watchers">Nombre de watchers</mat-radio-button>
      <mat-radio-button value="resources">Nombre de ressources</mat-radio-button>
    </mat-radio-group>
  </section>

  <!-- DATE -->
  <section>
    <mat-label id="date-label">Souhaitez-vous limiter les résultats à une certaine période ?</mat-label>
    <mat-radio-group formControlName="date" class="radio-group" aria-labelledby="date-label">
      <mat-radio-button [value]="0">Tout</mat-radio-button>
      <mat-radio-button [value]="1">1 jour</mat-radio-button>
      <mat-radio-button [value]="7">1 semaine</mat-radio-button>
      <mat-radio-button [value]="31">1 mois</mat-radio-button>
      <mat-radio-button [value]="180">6 mois</mat-radio-button>
      <mat-radio-button [value]="365">1 an</mat-radio-button>
    </mat-radio-group>
  </section>
</form>
