<app-container #app>
  <app-content>
    <ui-search-banner
      [bannerTitle]="'Cours'"
      [bannerImage]="'assets/images/illustrations/laptop2.svg'"
      [bannerSearchBar]="searchBar"
      [bannerActions]="actions">
      <ng-template #actions>
        <button class="banner-action" mat-raised-button>
          <mat-icon>info_outline</mat-icon>
          En savoir plus
        </button>
      </ng-template>
    </ui-search-banner>
    <br/><br/>
    <nz-empty [nzNotFoundContent]="content">
      <ng-template #content>
        <h2>Aucun cours</h2>
      </ng-template>
    </nz-empty>
  </app-content>
</app-container>
