<nz-row [nzGutter]="[24, 24]" nzAlign="top">
  <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
      <!-- CIRCLES -->
      <nz-divider [nzText]="title1" nzOrientation="left">
        <ng-template #title1>
          <div class="divider-title" matTooltip="Afficher plus">
            <div>Les cercles que vous suivez</div>
            <button
              mat-icon-button
              [routerLink]="['/workspace/circles']"
              [queryParams]="{ visibility: 'watching' }"
              [queryParamsHandling]="'merge'">
              <mat-icon>read_more</mat-icon>
            </button>
          </div>
        </ng-template>
      </nz-divider>
      <ws-list [items]="circles" (didTapTag)="onTapCircleTag($event)">
        Vous n'avez pas de cercles dans votre liste de suivie
      </ws-list>
    </nz-skeleton>
  </nz-col>
  <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <nz-divider nzText="Hiérarchie des cercles" nzOrientation="left"></nz-divider>
    <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
      <ws-circle-tree *ngIf="tree" [tree]="tree"></ws-circle-tree>
    </nz-skeleton>
    <!-- RECENTLY VIEWIED -->
    <nz-divider nzText="Vos ressources récemment vues" nzOrientation="left"></nz-divider>
    <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
      <ws-list [items]="resources"> Vous n'avez vu aucune ressource récemment</ws-list>
    </nz-skeleton>
  </nz-col>
</nz-row>
