:host {
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 1rem 1.2rem;
  background-color: #15181f !important;
  color: white !important;

  &::ng-deep {
    a {
      display: flex;
      align-items: center;
      height: 48px;
      width: 100%;
      color: white;
      padding: 0 8px;
      margin: 4px 0;
      box-sizing: border-box;
      img,
      mat-icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        object-fit: contain;
      }
    }
    a.active {
      border-radius: 4px;
      background-color: rgba(242, 246, 255, 0.18);
    }
    a:hover {
      border-radius: 4px;
      background-color: rgba(242, 246, 255, 0.08);
    }
  }
}

app-logo {
  width: 64px;
  height: 64px;
}
.drawer-title {
  color: white;
  margin-top: 12px;
  font-weight: 300;
  font-size: 1.8em;
  padding: 0 8px;
  box-sizing: border-box;
}
