<div #target>
  <ng-container *ngIf="this.form; else noFormLoaded">
    <div [ngClass]="this.form.form.disabled ? 'disabled' : 'enabled'">
      <span [ngSwitch]="this.form.selector">
        <form-radio-group
          #child
          *ngSwitchCase="'radioGroup'"
          [formData]="this.form"
        ></form-radio-group>

        <form-input-box
          #child
          *ngSwitchCase="'inputBox'"
          [formData]="this.form"
        ></form-input-box>

        <form-code-editor
          #child
          *ngSwitchCase="'codeEditor'"
          [formData]="this.form"
        ></form-code-editor>
        <form-formlyform #child *ngSwitchCase="'form'" [formData]="this.form">
        </form-formlyform>
        <nz-result
          *ngSwitchDefault
          nzTitle="Invalid Exercice Error"
          nzStatus="error"
          nzSubTitle="This is an internal error, please contact the administation"
        ></nz-result>
      </span>
    </div>
  </ng-container>
  <!-- LOADING SCREEN -->
  <ng-template #noFormLoaded>
    <nz-spin nzTip="Chargement de l'Exercice...">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </nz-spin>
  </ng-template>
</div>
<nz-space nzAlign="center" nzDirection="horizontal"></nz-space>
