<mat-toolbar>
  <app-logo *ngIf="!drawerEnabled || !drawerVisible"></app-logo>
  <button mat-icon-button *ngIf="drawerEnabled" (click)="drawerVisibleChange.next(!drawerVisible)">
    <mat-icon>menu</mat-icon>
  </button>
  <app-nav *ngIf="!drawerEnabled"></app-nav>
  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="notifMenu">
    <mat-icon matBadge="0">notifications</mat-icon>
  </button>
  <mat-menu #notifMenu="matMenu">
    <ng-template matMenuContent>
      <nz-empty [nzNotFoundContent]="content">
        <ng-template #content>
          <h2>Aucune notification</h2>
        </ng-template>
      </nz-empty>
    </ng-template>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="profileMenu">
    <auth-avatar style="--color-username: white;" [user]="user"></auth-avatar>
  </button>
  <mat-menu #profileMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item [routerLink]="'/profile'">Mon profil</button>
      <button mat-menu-item (click)="switchTheme()">
        <ng-container *ngIf="(theme|async) as activeTheme">
          <ng-container [ngSwitch]="activeTheme">
            <ng-container *ngSwitchCase="'dark'">Mode jour</ng-container>
            <ng-container *ngSwitchCase="'light'">Mode nuit</ng-container>
          </ng-container>
        </ng-container>
      </button>
      <button mat-menu-item (click)="signOut()">Se déconnecter</button>
    </ng-template>
  </mat-menu>
</mat-toolbar>

