<h2>Invitations</h2>
<mat-card>
  <mat-card-content>
    <app-circle-invitation-form
      (didSubmit)="sendInvitation($event)">
    </app-circle-invitation-form>
  </mat-card-content>
</mat-card>

<app-circle-invitations-table
  [invitations]="invitations"
  [editable]="!!context.user?.isAdmin"
  (didDelete)="deleteInvitation($event)"
  (didChangeParams)="loadInvitations($event)">
</app-circle-invitations-table>

<h2>Membres</h2>
<app-circle-members-table
  [members]="members"
  [editable]="!!context.user?.isAdmin"
  (didDelete)="deleteMember($event)"
  (didChangeParams)="loadMembers($event)">
</app-circle-members-table>
