:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 2rem 8rem;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 0 12px;
  }
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 720px;
  min-width: min(720px, 90vw);
  margin: 0 auto;
  padding: 4rem 0;
}

h2 {
  margin-bottom: 12px;
}

form {
  width: 100%;
  mat-form-field {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
}

nz-select {
  width: 100%;
}

nz-spin {
  display: block;
  width: 100%;
  padding: 4rem;
}

.spacer {
  flex: 1;
}
