mat-form-field {
  width: 100%;
}

mat-card, mat-expansion-panel {
  margin-bottom: 8px;
}

.status-item {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  nz-tag {
    width: 100%;
  }
}

.link-profile {
  display: inline-block;
  margin-bottom: 8px;
}

.mat-expansion-panel-body {
  padding: 0 24px 12px;
}

.spacer {
  flex: 1;
}
