<nz-row [nzGutter]="[24, 24]" nzAlign="top">
  <nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
    <ws-event-list [items]="events.results"></ws-event-list>
  </nz-col>
  <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
    <aside>
      <mat-card>
        <nz-statistic
          [nzValue]="(context.circle!.membersCount | number)!"
          [nzTitle]="'Membres'"
          [nzPrefix]="prefix2">
        </nz-statistic>
        <ng-template #prefix2>
          <i nz-icon nzType="team"></i>
        </ng-template>
      </mat-card>
      <mat-card>
        <nz-statistic
          [nzValue]="(context.circle!.resourcesCount | number)!"
          [nzTitle]="'Resources'"
          [nzPrefix]="prefix1">
        </nz-statistic>
        <ng-template #prefix1>
          <i nz-icon nzType="code"></i>
        </ng-template>
      </mat-card>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <span>Status Ressources</span>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let status of status">
          <a class="status-item" routerLink="['.']"
            [queryParams]="{}"
            [queryParamsHandling]="'merge'">
            <nz-tag
              [nzColor]="status|statusColor">
              {{status|statusLabel}} 0
            </nz-tag>
          </a>
        </ng-container>
      </mat-expansion-panel>
    </aside>
  </nz-col>
</nz-row>
