:host::ng-deep {
  .mat-radio-label-content,
  .mat-checkbox-label,
  .mat-checkbox-layout {
    display: inline-flex;
    align-items: center;
    mat-icon {
      margin: 0 4px;
    }
  }
}

section {
  margin: 8px 0;
}

mat-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

mat-form-field {
  width: 100%;
}

mat-checkbox,
mat-radio-button {
  margin: 8px;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
}
