<div class="gridElem-main">
  <ng-container *ngIf="this.gridElem; else elseTemplate">
    <nz-row [nzAlign]="'top'" class="gridElem-header">
      <h3 nz-col>
        {{ gridElem.label }}
      </h3>
      <div nz-col>
        <nz-input-number
          class="gridElem-input"
          [nzMin]="gridElem.noteInfo.min"
          [nzMax]="gridElem.noteInfo.max"
          [nzStep]="gridElem.noteInfo.step || 1"
          [(ngModel)]="gridElem.note"
          nzBorderless
        ></nz-input-number>
      </div>
    </nz-row>
    <nz-row [nzAlign]="'middle'" class="gridElem-bar">
      <div nz-col nzFlex="auto">
        <nz-slider
          *ngIf="gridElem.noteInfo; instanceof: NumberNote"
          [nzMin]="gridElem.noteInfo.min"
          [nzMax]="gridElem.noteInfo.max"
          [nzStep]="gridElem.noteInfo.step || 1"
          [(ngModel)]="gridElem.note"
        ></nz-slider>
      </div>
    </nz-row>
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel [nzHeader]="test">
        <ng-template #test> Commentaire </ng-template>
        <textarea
          [nzAutosize]="{ minRows: 3, maxRows: 16 }"
          nz-input
          [(ngModel)]="gridElem.comment"
        ></textarea>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
  <ng-template #elseTemplate> Merde </ng-template>
</div>
