.gridElem-main {
    margin: 3vmin;
    border: 8px outset rgba(128, 128, 128, 0.064);
}

.gridElem-header {
    display: flex;
    margin-top: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-bottom: -1vmin;
    justify-content: space-between;
}

.gridElem-input {
    background-color: rgba(128, 128, 128, 0.064);
}
.gridElem-bar {
    margin: auto;
}

.gridElem-comment {

}