<app-tabs [state]="context.state" [tabs]="tabs">
  <ng-container *ngIf="context.state === 'READY'">
    <nz-breadcrumb>
      <nz-breadcrumb-item *ngIf="context.circle!.parent">
        <a [routerLink]="parentLink">{{ parentName }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ context.circle!.name }}
        <mat-icon>group_work</mat-icon>
        <i
          nz-icon
          [nzType]="openedIconName"
          [matTooltip]="openedIconTooltip"
          nzTheme="twotone">
        </i>
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <p class="description">{{ context.circle!.desc }}</p>

    <nz-button-group *ngIf="context.circle?.permissions?.write">
      <button
        nz-button
        nzType="primary"
        matTooltip="Créer une ressource"
        [routerLink]="['/create-resource']"
        [queryParams]="{ 'circle': context.circle!.id }"
        [queryParamsHandling]="'merge'">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
      <a
        nz-button
        matTooltip="Éditer avec Visual Studio Code"
        [href]="openInVsCodeUrl | safe: 'url'">
        <img src="assets/images/vscode/vscode.svg" />
      </a>
    </nz-button-group>

    <nz-button-group>
      <button nz-button nzType="default" (click)="changeWatchingState()">
        <i nz-icon nzType="eye" nzTheme="outline"></i>
        {{ context.watcher ? 'Ne plus suivre' : 'Suivre' }}
      </button>
      <button nz-button nzType="default">
        {{ context.circle!.watchersCount }}
      </button>
    </nz-button-group>

    <nz-button-group *ngIf="context.invitation">
      <button nz-button nzType="primary" (click)="acceptInvitation()">
        Accepter l'invitation
      </button>
      <button nz-button nzDanger (click)="declineInvitation()">
        Refuser l'invitation
      </button>
    </nz-button-group>
  </ng-container>
</app-tabs>
