<header>
  <h1>Nouvelle ressource</h1>
  <div class="spacer"></div>
  <button *ngIf="!creating" mat-icon-button (click)="dismiss()">
  <i nz-icon nzType="close-circle" nzTheme="outline" style="font-size: 24px;"></i>
  </button>
</header>
<main>
    <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
      <ui-stepper #stepper (didSubmit)="onSubmit()">
        <!-- STEP 1 -->
        <ng-template uiStepperStep stepTitle="Cercle" stepIcon="apartment" [stepValidator]="!!selectedCircle">
          <section>
            <h2>Dans quel cercle voulez-vous créer une ressource?</h2>
            <nz-select
              nzShowSearch
              nzPlaceHolder="Selectionnez un cercle"
              [(ngModel)]="selectedCircle"
              [nzShowArrow]="false">
              <nz-option
                *ngFor="let circle of circles"
                [nzLabel]="circle.name"
                [nzValue]="circle">
              </nz-option>
            </nz-select>
          </section>
        </ng-template>
        <!-- STEP 2 -->
        <ng-template uiStepperStep stepTitle="Template" stepIcon="snippets"  [stepValidator]="!!selectedType">
          <section>
            <h2>Quel type de ressource souhaitez vous créer?</h2>
            <nz-select
              nzShowSearch
              nzPlaceHolder="Selectionnez un type"
              [(ngModel)]="selectedType"
              [nzShowArrow]="false">
              <nz-option
                *ngFor="let type of types"
                [nzLabel]="type|resourceName"
                [nzValue]="type">
              </nz-option>
            </nz-select>
          </section>
        </ng-template>
        <!-- STEP 3 -->
        <ng-template uiStepperStep stepTitle="Informations" stepIcon="info-circle" [stepValidator]="!!formInfos.valid">
        <section>
          <h2>Saisissez les informations de votre exercice</h2>
          <form [formGroup]="formInfos">
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea cdkTextareaAutosize  matInput formControlName="desc"></textarea>
            </mat-form-field>
          </form>
        </section>
        </ng-template>
        <!-- STEP 4 -->
        <ng-template uiStepperStep stepTitle="Topics" stepIcon="tags">
        <section>
          <ng-container *ngIf="topics.length; else: notopics">
            <h2>Ajoutez des topics à votre exercice</h2>
            <nz-select
              nzAllowClear
              nzShowSearch
              nzSize="large"
              nzMode="multiple"
              nzPlaceHolder="Selectionnez une liste de topics"
              [(ngModel)]="selectedTopics">
              <nz-option
                *ngFor="let item of topics; trackBy: trackByValue"
                [nzLabel]="item"
                [nzValue]="item">
              </nz-option>
            </nz-select>
          </ng-container>
          <ng-template #notopics>
            <h2>Le cercle “{{selectedCircle?.name}}” ne propose aucun topic à ajouter à votre exercice.</h2>
          </ng-template>
        </section>
        </ng-template>
        <!-- STEP 5 -->
        <ng-template uiStepperStep stepTitle="Niveaux" stepIcon="bar-chart">
        <section>
          <ng-container *ngIf="levels.length; else: nolevels">
            <h2>Ajoutez des niveaux scolaire à votre exercice</h2>
            <nz-select
              nzAllowClear
              nzShowSearch
              [nzDisabled]="creating"
              nzSize="large"
              nzMode="multiple"
              nzPlaceHolder="Selectionnez une liste de niveaux"
              [(ngModel)]="selectedLevels">
              <nz-option
                *ngFor="let item of levels; trackBy: trackByValue"
                [nzLabel]="item"
                [nzValue]="item">
              </nz-option>
            </nz-select>
          </ng-container>
          <ng-template #nolevels>
            <h2>Le cercle “{{selectedCircle?.name}}” ne propose aucun niveau à ajouter à votre exercice.</h2>
          </ng-template>
        </section>
        </ng-template>
      </ui-stepper>
    </nz-skeleton>
</main>
<footer>
  <ng-container *ngIf="creating; else: showControls">
    <nz-spin nzTip="Création du nouvel exercice..."></nz-spin>
  </ng-container>
  <ng-template #showControls>
    <button
      *ngIf="!stepper.isFirst"
      mat-button
      [disabled]="stepper.isFirst"
      (click)="stepper.prevStep()">
      Précedent
    </button>
    <button
      mat-button
      color="primary"
      [disabled]="!stepper.isValid"
      (click)="stepper.nextStep()">
      {{ stepper.isLast ? 'Créer' : 'Suivant'}}
    </button>
  </ng-template>
</footer>
