<a id="nav-link-workspace" mat-button [routerLink]="'/workspace'" [routerLinkActive]="'active'">
  <mat-icon>work</mat-icon>
  Espace de travail
</a>
<a id="nav-link-forum"  mat-button [routerLink]="'/forum/0'" [routerLinkActive]="'active'">
  <mat-icon>chat</mat-icon>
  Espace discussion
</a>
<a id="nav-link-doc" mat-button [routerLink]="'/doc'" [routerLinkActive]="'active'">
  <mat-icon>local_library</mat-icon>
  Documentation
</a>
<a id="nav-link-admin"  mat-button [routerLink]="'/admin'" [routerLinkActive]="'active'">
  <mat-icon>admin_panel_settings</mat-icon>
  Administration
</a>
