<ng-container
  *ngIf="
    this.activity && this.activity.currentExercice === this.PRESENTATIONKEY;
    then thenTemplate;
    else elseTemplate
  "
></ng-container>
<ng-template #thenTemplate>
  <div class="presentation">
    <span class="title" nzTypography> {{ this.activity.title }} </span>
    <nz-divider></nz-divider>
    <span class="desc" nz-typography>
      <markdown>{{ this.activity.desc }}</markdown>
    </span>
  </div>
</ng-template>
<ng-template #elseTemplate>
  <app-exercice
    *ngIf="this.getCurrentExercice()"
    [exercice]="this.exercice"
    [feedback]="this.feedback"
    [loading]="this.loading"
  ></app-exercice>
  <div style="display: flex">
    <button
      nz-button
      nzShape="round"
      nzSize="large"
      nzType="primary"
      (click)="log()"
    >
      LOG
    </button>
    <button
      nz-button
      nzShape="round"
      nzSize="large"
      nzType="primary"
      (click)="submitForm()"
      [nzLoading]="this.loading"
    >
      Submit
    </button>
  </div>
</ng-template>
