@import '~@angular/material/_theming.scss';

//#region Fonts
$mat-typography: mat-typography-config(
    $font-family: var(--brand-font),
);
/*
$display-4: mat-typography-level(112px, 112px, 300),
$display-3: mat-typography-level(56px, 56px, 400),
$display-2: mat-typography-level(45px, 48px, 400),
$display-1: mat-typography-level(34px, 40px, 400),
$headline: mat-typography-level(24px, 32px, 400),
$title: mat-typography-level(20px, 32px, 500),
$subheading-2: mat-typography-level(16px, 28px, 400),
$subheading-1: mat-typography-level(15px, 24px, 500),
$body-2: mat-typography-level(14px, 24px, 500),
$body-1: mat-typography-level(14px, 20px, 400),
$button: mat-typography-level(14px, 14px, 500),
$caption: mat-typography-level(12px, 20px, 400),
$input: mat-typography-level(inherit, 1.125, 400)
*/
//#endregion

@include mat-core($mat-typography);

//#region LIGHT THEME

// FOREGROUND
$dark-text: #24292e;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: $dark-text,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: $dark-text,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text
);

// BACKGROUND
$light-background: #FFFFFF;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-alpha-4: rgba(#292d33, 0.04);
$dark-bg-alpha-12: rgba(#292d33, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
  tooltip: $dark-bg-alpha-4,
);

//#endregion

//#region DARK THEME

// FOREGROUND
$light-text: #adbac7;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3)
);

// BACKGROUND
$dark-background: #22272e;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#f6f6f6, 0.04);
$light-bg-alpha-12: rgba(#f6f6f6, 0.12);

$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
  tooltip: $dark-bg-lighter-30,
);
//#endregion

//#region PALETTES

/*
  $my-palette-color: (
    // Non-accent Backgrounds
    // General
    50: #ede7f6,   // Most far away
    100: #d1c4e9,  // Far far away
    200: #b39ddb,  // Far away
    300: #9575cd,  // Middle far
    400: #7e57c2,  // Middle
    500: #673ab7,  // Middle close
    600: #5e35b1,  // Close
    700: #512da8,  // Very close
    800: #4527a0,  // Very very Close
    900: #311b92,  // Closest
    // Accent Background (calling for user action, notice, feedback/response)
    // Texts, fields, cursors, selections, progress, buttons
    A100: #b388ff,  // Most far
    A200: #7c4dff,  // Middle
    A400: #651fff,  // Close
    A700: #6200ea,  // Closest
    // Non-accent Texts - it's a contrast array opposite to the background for
    // text coloring.
    // General
    contrast: (
      50: $dark-primary-text,   // Most far away
      100: $dark-primary-text,  // Far far away
      200: $dark-primary-text,  // Far away
      300: $light-primary-text, // Middle far
      400: $light-primary-text, // Middle
      500: $light-primary-text, // Middle close
      600: $light-primary-text, // Close
      700: $light-primary-text, // Very close
      800: $light-primary-text, // Very very Close
      900: $light-primary-text, // Closest
      // Accent Texts (calling for user action, notice, feedback/response)
      // Texts, fields, cursors, selections, progress, buttons
      A100: $dark-primary-text,   // Most far
      A200: $light-primary-text,  // Middle
      A400: $light-primary-text,  // Close
      A700: $light-primary-text,  // Closest
    )
  );
*/

$mat-primary: (
  main: var(--brand-color-primary),
  lighter: var(--brand-color-primary-tint),
  darker: var(--brand-color-primary-shade),
  200: var(--brand-color-primary), // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text
  )
);

$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: var(--brand-color-secondary),
  lighter: var(--brand-color-secondary-tint),
  darker: var(--brand-color-secondary-shade),
  200: var(--brand-color-primary), // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: var(--brand-color-tertiary),
  lighter: var(--brand-color-tertiary-tint),
  darker: var(--brand-color-tertiary-shade),
  200: var(--brand-color-primary), // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
//#endregion

$mat-dark-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$mat-light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
