<app-exercice-title [exercice]="this.exercice"></app-exercice-title>
<nz-space nzSize="middle" nzDirection="vertical" nzAlign="start"></nz-space>
<div nz-row [nzGutter]="0" [nzAlign]="'middle'">
  <div nz-col [nzSpan]="this.feedback ? 18 : 24">
    <nz-tabset>
      <nz-tab nzSelected [nzTitle]="enonce__">
        <ng-template #enonce__>
          <i nz-icon nzType="read"></i>
          Énoncé
        </ng-template>
        <app-exercice-statement
          [exercice]="this.exercice"
        ></app-exercice-statement>
      </nz-tab>

      <nz-tab [nzTitle]="feedback__" *ngIf="this.feedback">
        <ng-template #feedback__>
          <i nz-icon nzType="solution"></i>
          FeedBack
        </ng-template>
        <app-feedback-text-provider
          [exercice]="this.exercice"
          [feedback]="this.feedback"
        ></app-feedback-text-provider>
      </nz-tab>
    </nz-tabset>
  </div>
  <div *ngIf="this.feedback" nz-col [nzSpan]="6">
    <app-feedback-score-provider
      [exercice]="this.exercice"
      [feedback]="this.feedback"
    ></app-feedback-score-provider>
  </div>
</div>
