
<h2 >
    MY ACTIVITY WORKS
</h2>
<h3>Activity Name :{{activity.title}}, Desc: {{activity.description}}, Exercises: {{activity.exercises}} </h3>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
        <mat-card *ngFor="let item of activity.exercises" (click)="setToDisplay(item)">   {{item}}</mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon svgIcon="plus"></mat-icon>
        </button>
        <div *ngIf="isChosen">
            <p>{{exercise}}}</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


